.todo-list-wrapper {
    height: 80vh;
    width: 350px;
    border: 5px solid #000000;
    border-radius: 20px;
    padding: 2rem;
    overflow-y: scroll;
}

.create-todo-wrapper {

}

.todo-list-section {
    max-height: 100%;
    overflow-y: scroll;
}

.sort-list {
    display: flex;
    justify-content: flex-end;
}

.empty-list-msg {
    margin-top: 20%;
}